body{
    background:#FFF7E2;
    background-color: #FADFFF; 
    color: #9C61A6; 
    border: solid thick;
    display: flex;
    font-family: Arial;
    flex-direction: column;
    margin: auto;
    height: auto;
}

.header-1{
    display: flex;
    justify-content: space-between;
    background: #FFD975;
    border: solid medium;
    color: #9C61A6;
    width: auto;
}

.header-2{ 
    display: flex;
    background-color: #FFF7E2;
    flex-wrap: nowrap;
    flex-direction: row;
}

@media (min-width: 800px) and (max-width: 1900px) {
    body{
        width: 70%;
    }
    .main-block{
        flex-flow: row nowrap;
    }
    .header-2 {   
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .main-block-left{
        flex: 40%;
    }
    .main-column{
        flex:80%;
    }
    .main-block-right{
        flex: 60%;
    }
    .left-menu{
        width: 20%;
    }
    .pictures{
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .fake-photo{
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .News{
        font-size: 30px;
    }
    .Status{
        font-size: 24px;
    }
    .fake-picture{
        width: 150px;
        height: 150px;
    }
    .Profile{
        justify-content: flex-start;
        align-content: flex-start;
    }
}

@media (min-width: 300px) and (max-width: 600px){
    .header-2 {   
      flex-direction: column;
      flex-wrap: wrap;
      width: auto;
    }

    .main-column{
        flex:100%;
    }
    body{
        width: auto;
    }
    .main-block{
        flex-flow: column wrap;
    }
    
    .Photo{
        width: auto;
        height: auto;
    }
    .left-menu{ 
        width: auto;
        justify-content: center;
        flex:100%;
    }
    
    .Interractions{
        flex-wrap: wrap;
    }
    .Profile{
        justify-content: center;
        align-content: center;
    }
    
    .News{ 
        font-size: 20px;
        flex-wrap: nowrap;
    }
    .Status{
        font-size: 17px;
        flex-wrap: nowrap;
    }
    .Follovers {
        width: auto;
    }
    .fake-picture{
        width: 100%;
        height: 340px;
    }
    .main-block-right{
        width: auto;
        flex:100%;
    }
    .squares{
        flex-flow: column wrap;
        justify-content: space-evenly;
        padding-left: 20px;
        padding-right: 20px;
    }
    .pictures{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .fake-photo{
        flex-flow: column wrap;
        justify-content: center;
    }
  }




.left-column{
    display: flex;
    background: #FFF7E2;
    color: #9C61A6;
    border: solid medium;
    
}

.main-column{
    display: flex;
    flex-direction: column;
    width: auto;
    
    height: auto;
}

.left-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.top-string{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    background: #FADFFF;
    padding: 10px;
    height: 35px;
    width: auto;
}

.main-block{ /*сделать так, чтобы при показе кода все выстраивалось в колонку*/
    display: flex;
}

.main-block-left{
    color: #9C61A6; 
    flex: 40%;
    margin: 10px;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
}

.Photo{
    height: 300px;
    width: auto;
    background: #FFD975;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: #9C61A6;
    font-weight:900;
}

.Interractions{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: stretch;
    justify-content: space-between;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
}

.Message{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFD975;
    font-size: 20px;
    color: white;
    flex-wrap: wrap;
    height: auto;
    text-align: center;
    align-items: center;
    border: solid thin #9C61A6;
}

.Be-friends{
    display: flex;
    border: solid thin #9C61A6;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    background: #FFD975;
    font-size: 20px;
    height: auto;
    color: white;
    text-align: center;
}

.Follovers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.Count-followers{
    color: #9C61A6;
    text-align: center;
    font-size: 18px;
}

.Count{ 
    display: flex;
    width: 210px;
    height: 30px;
    background: #FADFFF;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}   

.block-friends{
    background-color: #FADFFF;
    width: auto;
    margin-bottom: 20px;
}

.Friends{
    display: flex;
    width: auto;
    height: auto;
    text-align: left;
    align-items: center;
    color: white;
    background: #9C61A6;
    font-size: 18px;
    padding: 7px;
}

.squares{
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* flex-wrap: wrap;
    flex-direction: row; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.Square{
    width: 60px;
    height: 60px;
    color: #9C61A6;
    background: #FFEEC1;
    border: solid thin;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.Friends-Online{
    display: flex;
    width: auto;
    height: 30px;
    text-align: left;
    align-items: center;
    align-content: center;
    color: white;
    background: #9C61A6;
    font-size: 18px;
    padding-left: 10px;
}

.block-friends-online{
    background-color: #FADFFF;
    width: auto;
}

.Profile{
    display: flex;
	text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    background-color: #FFEEC1;
    border: solid medium#9C61A6;
    list-style: none;
    color:white;
    height: 35px;
    font-size: 20px;
    align-items: center;
    text-decoration-line: none;
    -webkit-text-stroke: 1px ;
    -webkit-text-stroke-color: #9C61A6;
    font-weight: 900;
    width: auto;
}

.NaSvyazy {
    color: #FFD975;
	text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
	font-size: 32px; 
    border: solid thick;
    border-radius: 0.6em;
}

.Settings{
    color: white;
	text-align: center;
    align-items: center;
    padding: 20px;
    height: auto;
    width: auto;
    background-color: #9C61A6;
	font-size: 16px; 
    border:solid medium#9C61A6;
}

.News{
    color:#9C61A6;
    
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.Status{
    color:#9C61A6;
    
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.main-block-right{
    color: #9C61A6; 
    
    margin: 10px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.Name{
    display: flex;
    color: white;
    flex-wrap: nowrap;
    background: #9C61A6;
    width: auto;
    height: auto;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    align-items: center;
    margin-bottom: 25px;
    justify-content: center;
    flex-direction: row;
}

.Information{
    color: #9C61A6;
    background: #FADFFF;
    width: auto;
    height: 160px;
    margin-bottom: 15px;
    padding-top: 10px;
}

.text{
    padding-left: 15px;
    font-size: 18px;
    padding-bottom: 7px;
}

.info{ 
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    font-size: 18px;
}

.pictures{
    background-color: #FADFFF;
    width: auto;
    margin-bottom: 15px;
    display: flex; 
}

.Picture{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;
    background: #9C61A6;
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fake-photo{
    display: flex;
    align-content: center;
    
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.fake-picture{
    
    color: #9C61A6;
    background: #FFEEC1;
    border: solid thin;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 7px;
    margin-right: 7px;
}

.posts{
    display: flex;
    width: auto;
    background-color: #FFEEC1;
    flex-direction: column;
    border: solid thin;
}

.topic{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #FFD975;
    color: #9C61A6;
    border: solid thin;
    width: auto;
    height: auto;
}

.count-posts{ 
    color: white;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20px;
    -webkit-text-stroke: 1px ;
    -webkit-text-stroke-color: #9C61A6;
    display: flex;
    align-items: center;
    text-align: center;
}

.find{
    display: flex;
    width: auto;
    height: auto;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    color: #9C61A6;
    padding-left: 30px;
    padding-right: 30px;
    background: #FFF7E2;
    font-size: 17px;
    margin: 5px;
}

.one-post{
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.left-part{
    display: flex;
    flex: 15%;
}

.min-picture{
    display: flex;
    background: #9C61A6;
    color: white;
    font-size: 11px;
    width: 60px;
    height: 60px;
    text-align: center;
    align-items: center;
}

.right-part{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    flex:85%;
}

.header-name{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    color: #9C61A6;
    font-size: 11px;
    margin-bottom: 10px;
}

.post-post-post{
    display: flex;
    justify-content: center;
    background-color: #FADFFF;
    color: #9C61A6;
    border: solid thin;
    font-size: 15px;
    text-align: center;
    align-items: center;
    width: auto;
    height: 200px;
}
